<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset ="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Email Notification</title>
    </head>
    <body>
        <h1> Hello {{ .Username }}</h1>
        <h2>your pipeline status is {{ .PipelineStatus }}</h2>
        <h2>please find the report at {{ .PipelineUrl }}</h2>
    </body>
</html>